* {
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: 2px dotted green; */
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    display: block;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 400px;
    max-height: 70px;
    margin: 0 75px 0 0;
}

.header ul {
    margin: 0 0 0 75px;
    max-width: 600px
}

.header li {
    display: inline-block;
    margin: 10px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.top .column {
    /* flex: 1 1 auto; */
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    max-width: 470px;
}

.top h1 {
    font-style: extra-bold;
    color: #F9FAF8;
    font-size: 48px;
    
}

.top p {
    font-style: extra-bold;
    color: #e5e7eb;
    font-size: 18px;
}

.top img {
    max-height: 210px;
    max-width: 630px;
    /* flex: 1 1 auto; */
    margin: 0 0 0 20px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 2px rgb(0, 16, 33);
}

.top button {
    background-color: #3882f6;
    font-style: bold;
    color: #F9FAF8;
    max-width: 90px;
    padding: 5px 0;
    border-radius: 6px;
}

.middle {
    /* outline: 2px dotted green; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.middle h2 {
    flex: 1 0 50%;
    justify-self: center;
    text-align: center;
    margin: 20px;
    font-size: 125%;
    color:#1F2937;
}

.middle ul {
    display: flex;
    justify-content: center;
}

.middle li {
    display: inline-block;
    text-align: center;
    align-self: center;
    max-width: 200px;
    margin: 25px;
}

.middle li img {
    border: 4px solid #3882f6;
    border-radius: 13px;
    max-width: 150px;
    max-height: 150px;
}