* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 2px dotted green;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header img {
    max-width: 700px;
    max-height: 70px;
}

.header li {
    display: inline-block;
    margin: 10px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top {
    background-color: #1F2937;
}