* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 2px dotted green;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    display: block;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    
}

.header img {
    max-width: 700px;
    max-height: 70px;
}

.header li {
    display: inline-block;
    margin: 10px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.top .column {
    flex: 1
}

.top h1 {
    font-style: extra-bold;
    color: #F9FAF8;
    font-size: 48px;
    
}

.top p {
    font-style: extra-bold;
    color: #e5e7eb;
    font-size: 18px;
}

.top img {
    max-height: 500px;
    flex: 1;
}

/* .flexcontainer {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header img {
    max-width: 700px;
    max-height: 70px;
}

.header li {
    display: inline-block;
    margin: 10px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top {
    background-color: #1F2937;
    flex: 4;
}

.top h1 {
    font-style: extra-bold;
    color: #F9FAF8;
    font-size: 48px;
}

.top p {
    font-style: extra-bold;
    color: #e5e7eb;
    font-size: 18px;
}

.top img {
    max-height: 500px;
    flex: 1;
}

.middle {
    background-color: #F9FAF8;
    flex: 1;
}

.middlebottom {
    flex: 1;
} */
